In [1]:
name = 'saqib'
x = 10
y = 3
z= 3.14

In [2]:
del name

In [3]:
name ='saqib'

## operators
- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators

In [4]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x % y)
print(x**y)

13
7
30
3.3333333333333335
3
1
1000

In [5]:
a = x+y
a += 1
a -= 1
a*= 2
a /= 5
print(a)

5.2

In [6]:
print(x >y)
print(x <y)
print(x >=y)
print(x <=y)
print(x ==y)
print(x !=y)

True
False
True
False
False
True

In [7]:
x<y or y<10

True

In [8]:
fruits = ['apple','banana','Cherry']
print('apple'in fruits)
print('mango'in fruits)

True
False

In [9]:
f = ['apple','banana','cherry']

In [10]:
fruits == f

False

In [11]:
x=10
y=10
print(x==y)
print(x is y)

True
True

I/O

In [4]:
name = input("Enter ur name:")

In [5]:
city = input("enter ur city:")

In [6]:
age = input("enter ur age:")

In [7]:
x =10
print(type(x))
x=float(x)
print(x,type(x))
x=str(x)
print(x,type(x))
x=str(x)
print(x, type(x))

<class 'int'>
10.0 <class 'float'>
10.0 <class 'str'>
10.0 <class 'str'>

In [7]:
x = int(input('enter a number for A:'))
y = int(input('enter a number for b:'))
print(x+y)

12

In [8]:
print('name:',name,'age:',age,'city:',city)

name: saqib age: 21 city: lucknow

In [15]:
print(x, end=' ')
print(y)

5 6

In [11]:
f'I live in {city}'

'I live in lucknow'

In [12]:
print(f'x={x}, y={y}')
print(f'x**y => {x**y}')
print(f'x+y => {x+y}')

x=5, y=6
x**y => 15625
x+y => 11

In [12]:
print(f'{name:14} {len(name)}')
print(f'{city:15}{len(city)}')

saqib          5
lucknow        7