In [34]:
raju =[56,90,34,34,56]
raju_dict ={ 
    'english': 56,
    'hindi': 90,
    'maths':34,
    'chemistry':34,
    'evs':56
}
print(raju_dict)

{'english': 56, 'hindi': 90, 'maths': 34, 'chemistry': 34, 'evs': 56}

In [35]:
company ={
    'emp001': {
    'name' : "amar kumar",
    'designation': "assistant III",
    'salary': 32000,
},
'emp002': {
    'name': "ranu singh",
    'designation': 'staff officer',
    'salary': 89000,
},
'total_emp': 2,
'department': 'accounts',
'vacancy': ['clerk','manager','assistant I']
}

In [36]:
company['name']= 'acme.inc'
print(company)

{'emp001': {'name': 'amar kumar', 'designation': 'assistant III', 'salary': 32000}, 'emp002': {'name': 'ranu singh', 'designation': 'staff officer', 'salary': 89000}, 'total_emp': 2, 'department': 'accounts', 'vacancy': ['clerk', 'manager', 'assistant I'], 'name': 'acme.inc'}

In [66]:
company['total_emp'] = 3
company['emp003']= {
    'name': 'ajay verma',
    'designation': 'clerk',
    'salary': 45000
}

In [67]:
company['vacancy']= ['clerk vaccany filled', 'manager', 'assistant I']

In [68]:
company

{'emp001': {'name': 'amar kumar',
  'designation': 'assistant III',
  'salary': 32000},
 'emp002': {'name': 'ranu singh',
  'designation': 'staff officer',
  'salary': 89000},
 'total_emp': 3,
 'department': 'accounts',
 'vacancy': ['clerk vaccany filled', 'manager', 'assistant I'],
 'name': 'acme.inc',
 'emp003': {'name': 'ajay verma', 'designation': 'clerk', 'salary': 45000},
 'item ': {'name': 'n ', 'price': 'p'}}

In [40]:
company.get('website')

In [41]:
print(company.keys())
print(company.values())

dict_keys(['emp001', 'emp002', 'total_emp', 'department', 'vacancy', 'name', 'emp003'])
dict_values([{'name': 'amar kumar', 'designation': 'assistant III', 'salary': 32000}, {'name': 'ranu singh', 'designation': 'staff officer', 'salary': 89000}, 3, 'accounts', ['clerk vaccany filled', 'manager', 'assistant I'], 'acme.inc', {'name': 'ajay verma', 'designation': 'clerk', 'salary': 45000}])

In [42]:
print(company.items())

dict_items([('emp001', {'name': 'amar kumar', 'designation': 'assistant III', 'salary': 32000}), ('emp002', {'name': 'ranu singh', 'designation': 'staff officer', 'salary': 89000}), ('total_emp', 3), ('department', 'accounts'), ('vacancy', ['clerk vaccany filled', 'manager', 'assistant I']), ('name', 'acme.inc'), ('emp003', {'name': 'ajay verma', 'designation': 'clerk', 'salary': 45000})])

In [43]:
for i in raju_dict:
    print(i)

english
hindi
maths
chemistry
evs

In [44]:
for i in company:
    print(i , company[i])

emp001 {'name': 'amar kumar', 'designation': 'assistant III', 'salary': 32000}
emp002 {'name': 'ranu singh', 'designation': 'staff officer', 'salary': 89000}
total_emp 3
department accounts
vacancy ['clerk vaccany filled', 'manager', 'assistant I']
name acme.inc
emp003 {'name': 'ajay verma', 'designation': 'clerk', 'salary': 45000}

In [45]:
for k,v in company.items():
    print(k,v)

emp001 {'name': 'amar kumar', 'designation': 'assistant III', 'salary': 32000}
emp002 {'name': 'ranu singh', 'designation': 'staff officer', 'salary': 89000}
total_emp 3
department accounts
vacancy ['clerk vaccany filled', 'manager', 'assistant I']
name acme.inc
emp003 {'name': 'ajay verma', 'designation': 'clerk', 'salary': 45000}

In [46]:
for k,v in company.items():
    if isinstance(v,dict):
        print(k)
        for key, value in v.items():
            print("--->", key,value)
    else:
        print(k,v)

emp001
---> name amar kumar
---> designation assistant III
---> salary 32000
emp002
---> name ranu singh
---> designation staff officer
---> salary 89000
total_emp 3
department accounts
vacancy ['clerk vaccany filled', 'manager', 'assistant I']
name acme.inc
emp003
---> name ajay verma
---> designation clerk
---> salary 45000

wap to create dict which takes user input for the item and its price , the user can enter unlimited amout of items

In [76]:
grocery = {
    'item 1': {
    'name' : " ",
    'price' : " "
},
'total_item': 0,
}

noi = int(input ("enter no of items"))
for i in range (noi):
    j = 1+i
    n = input(f' enter item {j}')
    p = int(input(f'enter price of {j}'))
    grocery ['total_item'] = noi
    grocery[f'item {j}']= {
    'name': n,
    'price': p
    }
print (grocery)

{'item 1': {'name': 'a', 'price': 1}, 'total_item': 2, 'item 2': {'name': 'b', 'price': 2}}

In [77]:
grocary = {}
for i in range (3):
    product_name= input("Enter the Product Name: ")
    product_price= input("Enter the price of the product: ")
    grocary[product_name] = product_price
print(grocary)

{'apple': '1', 'banan': '2', 'banana': '2'}